<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Show HOt -What you want</title>

    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/table-responsive">
    <script src="/assets/js/chart-master/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <section id="container">
        <div id="toggle-menu" class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>


        <aside>
                
                 <div id="sidebar"  class="nav-collapse">
                   <!--logo start-->
                     <ul class="sidebar-menu" id="nav-accordion">
                           <h3 class="centered" style="color:bisque">UserName</h3>
                         <li class="mt">
                             <a class="active" href="/main">
                                 <i class="fa fa-dashboard" style="color:#20B38E"></i>
                                 <span style="color:#20B38E">Main</span>
                             </a>
                         </li>
       
                         <li class="sub-menu">
                             <a href="/hotdeal"  style="color:deeppink;">
                                 <i class="fa fa-desktop"  style="color:deeppink;"></i>
                                 <span>핫딜 </span>
                             </a>
       
       
                         <li class="sub-menu">
                             <a href="/event" style="color:darkorange">
                                 <i class=" fa fa-bar-chart-o" style="color:darkorange"></i>
                                 <span>이벤트 </span>
                             </a>
                             <!-- <ul class="sub">
                                 <li><a  href="calendar.html">Calendar</a></li>
                                 <li><a  href="gallery.html">Gallery</a></li>
                                 <li><a  href="todo_list.html">Todo List</a></li>
                             </ul> -->
                         </li>
                         <li class="sub-menu">
                             <a href="/tracking" style="color:darkseagreen" >
                                 <i class="fa fa-tasks" style="color:darkseagreen"></i>
                                 <span>배송조회</span>
                             </a>
                             <!-- <ul class="sub">
                                 <li><a  href="form_component.html">Form Components</a></li>
                             </ul> -->
                         </li>
                         <li class="sub-menu">
                             <a href="javascript:;" style="color:skyblue">
                                 <i class="fa fa-th" style="color:skyblue"></i>
                                 <span>문의</span>
                             </a>
                             <ul class="sub">
                                <li><a href="/contact/notice" style="color:turquoise">공지사항</a></li>
                                <li><a href="/contact/qna" style="color:aquamarine">Q&amp;A</a></li>
                                <li><a href="/contact/question" style="color:lightseagreen">1:1 문의</a></li>
                            </ul>
                         </li>
                         <li class="sub-menu">
                             <a href="javascript:;" style="color:yellowgreen" >
                                 <i class="fa fa-cogs" style="color:yellowgreen"></i>
                                 <span>설정</span>
                             </a>
                             <ul class="sub">
                                 <li><a  href="/new_pw" style="color:tomato">비밀번호 변경</a></li>
                                 <li><a  href="/settings" style="color:darkkhaki">기타 설정</a></li>
                             </ul>
                         </li>
                         
                         <li class="sub-menu">
                             <a href="/" id="logout">
                                 <i class="fa fa-sign-out" style="color:dodgerblue"></i>
                                 <span style="color:dodgerblue">로그아웃</span>
                             </a>
                         </li>
                     </ul>
                     <!-- sidebar menu end-->
                 </div>
             </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div align='center' style="background:rgba(44, 94, 79, 0.445); margin-top:1%;"><a href="/main" class="logo"><b>SHOW HOT</b></a></div>
                <div align=center style="background:rgba(19, 44, 66, 0.582)">&nbsp</div>
                <div class="container">
                        <div class="row mt">
                            <!-- SERVER STATUS PANELS -->
                        
                            <div class="col-md-4 col-sm-4 mb">
                                    <a href="/hotdeal">
                                <div class="white-panel pn">
                                    <i class="fa fa-bomb fa-spin fa-3x fa-fw" style="font-size:400%; margin-top:20%"></i>
                                    <div class="white-header">
                                    </div>
                                    <div align=center>
                                        <h1 align=center style="color:deeppink">핫! 핫딜</h1>
                                    </div>
                                </div>
                                
                            </a>
                            </div>
                        
                            <div class="col-md-4 col-sm-4 mb">
                                    <a href="/event">
                                <div class="white-panel pn">
                                        <i class="fa fa-star fa-spin fa-3x fa-fw" style="font-size:400%; margin-top:20%"></i>
                                    <div class="white-header">
                                    </div>
                                    <div align=center>
                                        <h1 style="color:darkseagreen">이벤트</h1>
                                    </div>
                                </div>
                            </a>
                            </div>
    
                            <div class="col-md-4 col-sm-4 mb">
                                    <a href="/tracking">
                                <div class="white-panel pn">
                                        <i class="fa fa-fighter-jet fa-spin fa-3x fa-fw" style="font-size:400%; margin-top:20%"></i>
                                    <div class="white-header">
                                    </div>
                                    <div align=center>
                                        <h1 style="color:Brown">배송조회</h1>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                    <a href="/contact/question">
                                <div class="white-panel pn">
                                        <i class="fa fa-comments-o fa-spin fa-3x fa-fw" style="font-size:400%; margin-top:20%"></i>
                                    <div class="white-header">
                                    </div>
                                    <div align=center>
                                        <h1 style="color:darkkhaki">1:1 문의</h1>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                    <a href="/contact/notice">
                                <div class="white-panel pn">
                                        <i class="fa fa-id-badge fa-spin fa-3x fa-fw" style="font-size:400%; margin-top:20%"></i>
                                    <div class="white-header">
                                    </div>
                                    <div align=center>
                                        <h1 style="color:deeppink">공지사항</h1>
                                    </div>
                                </div>
                            </a>
                            </div>
                            
                            <div class="col-md-4 col-sm-4 mb">
                                    <a href="/settings">
                                <div class="white-panel pn">
                                        <i class="fa fa-gear fa-spin fa-3x fa-fw" style="font-size:400%; margin-top:20%"></i>
                                    <div class="white-header">
                                    </div>
                                    <div align=center>
                                        <h1 style="color:lightseagreen">설정</h1>
                                    </div>
                                </div>
                            </a>
                            </div>
    
                            <!-- /col-md-4 -->
                        </div>
                        <!-- /row -->
                    </div>
                <!--/row -->
            </section>
        </section>

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                Copyright © Your Website 2017
                <a href="/main" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.sparkline.js"></script>
    <script>
        $(document).ready(function () {
            $("#logout").on("click", function (e) {
                //컨폼 창에서 "취소" 버튼을 클릭하면 하이퍼링크 기본 이벤트 실행을 중지
                if (confirm("정말로 로그아웃 하시겠습니까?") == false) {
                    e.preventDefault();
                }
            });
        });
    </script>


    <!--common script for all pages-->
    <script src="/assets/js/common-scripts.js"></script>

    <script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="/assets/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="/assets/js/sparkline-chart.js"></script>
    <script src="/assets/js/zabuto_calendar.js"></script>



    <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({ html: true, trigger: "manual" });
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    { type: "text", label: "특별 이벤트", badge: "00" },
                    { type: "block", label: "평범 이벤트", }
                ]
            });
        });


        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>


</body>

</html>